NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 10 ns HIGH 50%;
OFFSET = IN 7 ns VALID 10 ns BEFORE "clk" RISING;
OFFSET = OUT 10 ns AFTER "clk";

Net "clk"   LOC = AH15  |IOSTANDARD=LVCMOS33;
Net "rst" TIG;
Net "rst" LOC = E9  |IOSTANDARD=LVCMOS33  |PULLUP;

NET "rs232_rx" LOC = AG15;
NET "rs232_rx" IOSTANDARD = LVCMOS33;
NET "rs232_tx" LOC = AG20;
NET "rs232_tx" IOSTANDARD = LVCMOS33;

Net "leds<0>" LOC = AE24 |IOSTANDARD=LVCMOS18 |PULLDOWN |SLEW=SLOW |DRIVE=2;
Net "leds<1>" LOC = AD24 |IOSTANDARD=LVCMOS18 |PULLDOWN |SLEW=SLOW |DRIVE=2;
Net "leds<2>" LOC = AD25 |IOSTANDARD=LVCMOS18 |PULLDOWN |SLEW=SLOW |DRIVE=2;
Net "leds<3>" LOC = G16  |IOSTANDARD=LVCMOS25 |PULLDOWN |SLEW=SLOW |DRIVE=2;
Net "leds<4>" LOC = AD26 |IOSTANDARD=LVCMOS18 |PULLDOWN |SLEW=SLOW |DRIVE=2;
Net "leds<5>" LOC = G15  |IOSTANDARD=LVCMOS25 |PULLDOWN |SLEW=SLOW |DRIVE=2;
Net "leds<6>" LOC = L18  |IOSTANDARD=LVCMOS25 |PULLDOWN |SLEW=SLOW |DRIVE=2;
Net "leds<7>" LOC = H18  |IOSTANDARD=LVCMOS25 |PULLDOWN |SLEW=SLOW |DRIVE=2;

Net "switches<7>" LOC=U25  |IOSTANDARD=LVCMOS18 |PULLDOWN |SLEW=SLOW |DRIVE=2;
Net "switches<6>" LOC=AG27 |IOSTANDARD=LVCMOS18 |PULLDOWN |SLEW=SLOW |DRIVE=2;
Net "switches<5>" LOC=AF25 |IOSTANDARD=LVCMOS18 |PULLDOWN |SLEW=SLOW |DRIVE=2;
Net "switches<4>" LOC=AF26 |IOSTANDARD=LVCMOS18 |PULLDOWN |SLEW=SLOW |DRIVE=2;
Net "switches<3>" LOC=AE27 |IOSTANDARD=LVCMOS18 |PULLDOWN |SLEW=SLOW |DRIVE=2;
Net "switches<2>" LOC=AE26 |IOSTANDARD=LVCMOS18 |PULLDOWN |SLEW=SLOW |DRIVE=2;
Net "switches<1>" LOC=AC25 |IOSTANDARD=LVCMOS18 |PULLDOWN |SLEW=SLOW |DRIVE=2;
Net "switches<0>" LOC=AC24 |IOSTANDARD=LVCMOS18 |PULLDOWN |SLEW=SLOW |DRIVE=2;



