
# PlanAhead Generated physical constraints 

NET "clk" LOC = AH15;
NET "rx" LOC = AG15;
NET "tx" LOC = AG20;

# PlanAhead Generated IO constraints 

NET "clk" IOSTANDARD = LVCMOS33;
NET "rx" IOSTANDARD = LVCMOS33;
NET "tx" IOSTANDARD = LVCMOS33;
NET "tx" DRIVE = 8;
